*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Images/Arihantbuilding.JPG);
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items:center;
}

nav img{
    width: 300px;
    border: 2px;
    border-style: solid;
    border-color: rgb(6, 34, 34);
    background-color: rgb(47, 67, 134);
    
}


.nav-links ul li{
    
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    border: none;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 2%;
    

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 4px;
    background: rgb(238, 28, 28);
    display: block;
    margin: auto;


}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.15s;
}
.textbox{
    font-size: 25px;
    width: 90%;
    color: white;
    position: absolute;
    text-align: center;
    margin-top: 3%;
    margin-left: 5%;
    
}
.Headline{
    font-size: 40px;
    font-weight: bold;
    color: bisque;
    font-style: italic;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}
.MCU{
    color: rgb(219, 27, 27);
    border-bottom: dashed;
    border-color: white;
    
}
.Para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: bisque;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}
.table-box{
    margin: 50px auto;
}
.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background-color: transparent;
    padding:12px 0;
    color: white;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 rgba(1, 1, 56, 0.3);
    

}
.table-cell{
    display: table-cell;
    width: 30%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;

}
.table-head{
    background:#8665f7;
    box-shadow: none;
    color: white;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}

.Course-headline{
    border: solid;
    border-width: 2px;
    padding: 5px;
    font-family: Kanit;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
    text-decoration: none;
    display: inline-block;
}
.Course-content{
    color: white;    
    font-size: 20px;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 1%;
}
.info{
    color: white;
    font-size: 23px;
    font-family: cursive;
    display: inline-block;
    margin-left: 12%;
}
.MSC-box{
padding-bottom: 3%;
}
.cnt{
    color: aqua;
    text-decoration: underline;
}
.headline{
    font-size: 40px;
    font-family:serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;

}
.para{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 2%;   
}
.imgmap{
   color: white;
   width: 100%;
   height: 650px;
   display: inline-block;
   background-image: url(Images/ArihantMap.png);
   background-position: center;
   background-size: cover;
}
.map{
    color:aqua;
    font-size: 23px;
    
    
}
.Para2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 3%;
    

}
.signup{
    color: white;
    text-align: center;
    padding: 5%;
   
}
.signup h1{
    font-size: 50px;
    margin-bottom: 2%;
}
.form_div{
    padding: 1%;
    
    
}
.input{
    padding: 10px;
    font-size: 26px;
    text-decoration: underline;
    display: inline-block;
}
.TextBox{
font-size: 20px;
font-weight: bolder;

}

.btn{
    margin-top: 8px;
    padding: 1%;
    background-color: aqua;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}
.contact-container{
    height: 100vh;
    display:flex ;
    align-items: center;
    justify-content: space-evenly;

}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: rgb(228, 176, 33);
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: rgb(228, 176, 33);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-input{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: bolder;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    font-weight: bolder;
}
.contact-input:focus{
    border: 4px solid brown;
}
.contact-left button{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 15px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgb(226, 113, 32);
}
.contact-right img{
    width: 600px;
    border: none;
    border-radius: 20px;
}
.lbl{
    font-size: 14px;
    color: #666;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.slt{
    font-size: 14px;
    color: #666;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
.slt:focus{
    border: 4px solid brown;
}
.hori{
    width: 100%;
}